# Command Section
text
skipx
reboot
eula --agreed
keyboard us
lang en_US.UTF-8
selinux --enforcing

autopart --fstype=xfs 
network --bootproto=dhcp --onboot=on --activate

rootpw --allow-ssh --iscrypted {{ root_pw }}
user --name=ansible
sshkey --username=ansible {{ ansible_key }}

timezone {{ timezone }} --utc --no
zerombr
%include /tmp/partitioning

%packages --ignoremissing
@^minimal-environment
bash-completion
tmux
vim
%end

%post --interpreter=/usr/libexec/platform-python --log=/root/post-kickstart.log
import os

# Setup passwordless sudo for ansible
path = "/etc/sudoers.d/ansible"
content = "ansible ALL=(ALL) NOPASSWD: ALL"

with open(path, "w") as f:
    f.write(content)

os.chown(path, 0, 0)
os.chmod(path", "0o440")

%end
